@{
    ViewBag.Title = "DeleteConfirmed";
}

<h2>Delete Confirmed</h2>
@if (!string.IsNullOrEmpty(TempData["SuccessMessage"].ToString()))
{
    <div class="row">
        <div class="col-9"></div>
        <div id="successMessage" class="col-3 text-md-end  alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    </div>
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    var $j = jQuery.noConflict();
    $j(document).ready(function () {
        var successMessage = $('#successMessage');
        if (successMessage.length) {
            successMessage.fadeIn('slow');
            setTimeout(function () {
                successMessage.fadeOut('slow');
            }, 2000);
        }
    });
</script>

@Html.ActionLink("Back to List", "Index")







